<form [formGroup]="cadastroForm" (ngSubmit)="subimitForm()">
  <label>
    Nome: 
    <input type="text" formControlName="firstName">
    <span *ngIf="cadastroForm.get('firstName')?.errors && cadastroForm.get('firstName')?.touched && cadastroForm.get('firstName')?.dirty">Favor adicionar um nome</span>
  </label>

  <br>
  <br>
  <label>
    Sobrenome: 
    <input type="text" formControlName="lastName" maxlength="5">
    <span *ngIf="cadastroForm.get('lastName')?.errors">Favor deve ter no mínimo 
      {{ cadastroForm.get('lastName')?.errors?.['minlength']?.requiredLength }}
    e você digitou 
    {{ cadastroForm.get('lastName')?.errors?.['minlength']?.actualLength }}
    </span>
  </label>

  <label>
    E-mail: 
    <input type="email" formControlName="email">
  </label>

  <button [disabled]="cadastroForm.invalid">Enviar</button>
  <!--{{cadastroForm.get('firstName')?.value}}-->
   <!--{{cadastroForm.get('lastName')?.value}}-->
   <!--
    {{cadastroForm.get('firstName')?.errors | json}}
    {{cadastroForm.get('firstName')?.touched | json}}
    {{cadastroForm.get('firstName')?.dirty | json}}
   -->

   <p>
   <!--{{cadastroForm.get('lastName')?.errors | json }}-->
   {{cadastroForm.get('email')?.errors | json }}
   </p>
</form>
